<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let mEvent of mohmEvents">
    <img *ngIf="mEvent.imgSource; else noImageSource" [src]="mEvent.imgSource" />
    <ng-template #noImageSource><img src="assets/imgs/logo.png" /></ng-template>
    <ion-card-content>
      <ion-card-title>{{ mEvent.title }}</ion-card-title>
      <h3>{{ mEvent.date }}</h3>
      <p>{{ mEvent.description }}</p>
      <p>RSVP Required? <b>{{ mEvent.rsvpRequired }}</b></p>
    </ion-card-content>
  </ion-card>
</ion-content>
